#stage {
    padding-top: 100px;
    margin-bottom: 100px;
}

#stage img {
    width: 1300px;
}

#djtable {
    width: 100%;
    position: relative;
    display: block;
}

.targetzone {
    position: absolute;
    border-radius: 50%;
    border: 2px dashed rgba(255, 255, 255, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    width: 120px;
    height: 60px;
}

#zone1 {
    top: 22.5%;
    left: 27%;
}

#zone2 {
    top: 29%;
    left: 17%;
}

#zone3 {
    top: 31%;
    left: 45%;
}

#zone4 {
    top: 22.5%;
    left: 62.5%; 
}

#zone5 {
    top: 29%;
    left: 73%;
}
.blue {
    background-color: rgb(7, 53, 255);
}


#header {
    font-family:"Silkscreen", Arial, Helvetica, sans-serif;
    background-color: rgb(187, 247, 247);
}

#main-body {
    font-family:"Silkscreen", Arial, Helvetica, sans-serif;
    background-color: rgb(187, 247, 247);
}

#vinyls {
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    flex-wrap: nowrap;
}

#vinyls .songs {
    object-fit: cover;
    cursor: pointer;
}

#vinyls .songs:hover {
    animation: vinylspin .2s ease-in-out;
}

@keyframes vinylspin {
    0%  { transform: rotate(0deg); }
    25% { transform: rotate(30deg); }
    50% {transform: rotate(0deg);}
    75% {transform: rotate(-30deg);}
    100% { transform: rotate(0deg); }
}

#vinyls img {
    height: 40px;
}

#mainbuttons {
    margin-top: 50px;
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    height: 100px;
}

#mainbuttons button {
    transition: all .2s linear;
}

#mainbuttons button:hover {
    transform: translateY(-10px);
}

#main-footer {
    height: 200px;
}

#playButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../images/playbutton.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    width: 80px; 
    height: 80px; 
}

#pauseButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../images/pausebutton.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    width: 80px; 
    height: 80px; 
}

#rewindButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    background-image: url(../images/rewindbutton.svg);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    width: 80px; 
    height: 80px; 
}

#volumeControl {
  width: 100%;
  cursor: pointer;
  accent-color: #405aff;
  justify-content: center;
}

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
}

.lightbox:target {
    display: block;
}

.lightbox-close {
    color: white;
    font-size: 40px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 96vw;
    transition: all .25s ease-in-out;
}

.lightbox-close:hover {
    color: rgb(0, 183, 255);
    
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 60px;
}

.lightbox p {
    line-height: 50px;
}